################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Backend/HamburguesitoNet/HamburguesitoNet/WebUI/appsettings.json
